<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="caster_wheel_link">
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>
    <gazebo reference="left_wheel_link">
        <mu1 value="1.0" />
        <mu2 value="1.0" />
    </gazebo>
    <gazebo reference="right_wheel_link">
        <mu1 value="1.0" />
        <mu2 value="1.0" />
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-controller-system"
                name="gz::sim::systems::JointController">
            <joint_name>base_left_wheel_joint</joint_name>
            <initial_velocity>0.0</initial_velocity>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-controller-system"
                name="gz::sim::systems::JointController">
            <joint_name>base_right_wheel_joint</joint_name>
            <initial_velocity>0.0</initial_velocity>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system"
                name="gz::sim::systems::JointStatePublisher">
            <topic>joint_state</topic>
            <joint_name>base_left_wheel_joint</joint_name>
            <joint_name>base_right_wheel_joint</joint_name>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-pose-publisher-system"
                name="gz::sim::systems::PosePublisher">
            <publish_link_pose>true</publish_link_pose>
            <publish_visual_pose>true</publish_visual_pose>
            <publish_collision_pose>false</publish_collision_pose>
            <publish_nested_model_pose>true</publish_nested_model_pose>
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <update_frequency>30</update_frequency>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-odometry-publisher-system"
                name="gz::sim::systems::OdometryPublisher">
            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
            <odom_publish_frequency>30</odom_publish_frequency>
            <dimensions>2</dimensions>
        </plugin>
    </gazebo>

</robot>